MONCASH_CLIENT_ID=your_client_id_here
MONCASH_CLIENT_SECRET=your_client_secret_here
MONCASH_SECRET_API_KEY=your_secret_api_key_here
MONCASH_BUSINESS_KEY=your_business_key_here
MONCASH_API_BASE=https://moncashbutton.digicelgroup.com/Api
MONCASH_GATEWAY_BASE=https://moncashbutton.digicelgroup.com/Moncash-middleware
MONCASH_CURRENCY=HTG
PUBLIC_SITE_URL=https://smartcutservices.com
